<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome to Jogorizator</title>
    <link rel="stylesheet" href="/assets/tailwind/tailwind.css">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {% block page_styles %}{% endblock %}
</head>
<body>
{% include "@site/layout/head.twig" %}
{% block content %}
{% endblock %}
<script type="text/javascript" src="assets/jquery/jquery-3.6.0.min.js"></script>
{% block page_scripts %}
    <script>
        const btn = document.querySelector(".menuBtn");
        const menu = document.querySelector(".menu");

        btn.addEventListener("click", () => {
            menu.classList.toggle("hidden");
        });
    </script>
{% endblock %}
</body>
</html>




