{% extends "@site/layout/main.twig" %}
{% block content %}
<section class="bg-purple-700  dark:bg-gray-700">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="/" class="flex items-center mb-6 text-2xl font-semibold text-white">Jogorizador - Login Arroz</a>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
             <form class="space-y-4 md:space-y-6" method="post" action="/login">
                <div class="md:items-center m-14">
                    <div>
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="username">Username</label>
                        <input class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="text" name="username" id="username" required>
                    </div>
                </div>
                 <div class="md:items-center m-14">
                     <div>
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="password">Password</label>
                        <input class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="password" name="password" id="password" required>
                     </div>
                 </div>
                 <div class="md:items-center m-14 text-center">
                     Not registered? <a href="/register" class="text-red-900">Click here</a>
                 </div>
                 <div class="md:items-center m-14 text-center">
                    <button type="submit" class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 mb-6 rounded">Sign in</button>
                 </div>
             </form>
        </div>
    </div>
</section>
{% endblock %}

